@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');



body {
  background-color: #24272C;
  font-family: "Anta", sans-serif;


  
}
.button-bg{
  background-color: #24272C;
  box-shadow:  -1px -1px 5px rgba(255, 255, 255, 0.1),
               2px 2px 5px rgba(0, 0, 0, 0.7);

  
  
}

.Navbar{
  z-index:10000 ;
  position: fixed !important;
  background-color: #24272C;
}

.img-shadow{
  box-shadow:  -4px -4px 30px rgba(255, 255, 255, 0.3),
  8px 8px 30px rgba(0, 0, 0, 0.8);
}


.swiper {
  width: 300px;
  height: 650px;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.certificate-font{
  color: #74ee15;
  /* font-weight: bold; */
}








